
{% extends '::base.html.twig' %}

{% block body %}

{%block stell%}
        <link rel="stylesheet" href="{{ asset('bundles/userbundle/css/userbundle.css') }}" type="text/css" media="all" />
{%endblock%}


<div id="content">
        <div id="menu_it">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
		        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <div id="g_form">

            {{ block('fos_user_content') }}

        </div>
        <div id="img">
               <img class="picture" src="{{ asset('bundles/userbundle/images/picture3.png') }}" alt="">
               <h2>Обучение в порядке!</h2>
        </div>
     </div>
{% endblock %}
